section div.mysection {
  width: 50%;
  height: auto;
  background-color: #a87132;
  padding: 12px;
  text-align: center;
}

section div div.sec1 {
  background-color: teal;
  font-weight: bold;
  color: white;
  width: auto;
  height: 26px;
}


div.second-section {
  width: 200px;
  height: 200px;
  background-color: brown;
  text-align: center;
  text-decoration: underline;
}
